
@font-face {
  font-family: 'Inspire';
  src: url(/fonts/pfsquaresanspro-medium-webfont.ttf);
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: 'Inspire-Regular';
  src: url(/fonts/Inspire-Regular.f2199f841165c4ddbafcf177da3ef974.woff2);
}

@font-face {
  font-family: 'Inspire-bold';
  src: url(/fonts/Inspire-Bold.4ff15ddc93445342649194969715b0b5.woff2);
  font-style: bold;
  font-weight: 700;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 
body{
  background: #000;
  font-family: 'Inspire', sans-serif;
}

 h1{
  color: #f9f9f9;
 }
  

  .header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: rgba(85, 86, 93, 0.2);
    padding: 0 285px 0 20px;
    transition: all 3s ease-out;
    z-index: 80;
}

.container{
  width:100vw;
  max-width: 100%;
  min-width: 320px; 
  min-height: 100vh;
  position: relative;
}

.container-info1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 45.6%;
  left: 39.8%;
  width: 527px;
  height: 283px;
  
}
  a{
    text-decoration: none;
  }

  .btn-combo{
    display: inline-block;
    width: 640px;
    height: 68px;
    color: #f9f9f9;
    background-color: #6421ff;
    padding: 20.5px 33px;
    margin: 20px 0 0;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-family: 'Inspire-bold',sans-serif;
  }

  .btn-combo:hover{
    background-color: rgb(100, 33, 255,0.9);
  }
  
  

  .suscription{
    display: inline-block;
    width: 160px;
    background: transparent;
    text-align: center;
    font-size: 14px;
    font-family: 'Inspire-bold',sans-serif;
    line-height: 1.4;
    text-decoration: underline;
    color: #f9f9f9;
    margin-top: 25px;
  }
  

  
img{
  width: 100%;
}
  /* .hero-image {
    background-image: url('images/herosec75.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 50%;
    width: 100%;
    min-height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
  }
  
  .hero-image2 {
    background-image: url('images/original.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  } */


  .logo1{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 1560px;
    height: 60px;
   }
   
   

  .logo{
    width: 150px;
    height: 50px;
    cursor: pointer;
  }
  
 .logo-y{
  display: inline-block;
  width: 210px;
  height: 50px;
  color: #f9f9f9;
  background-color: #c90b0b;
  padding: 14px 14px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-family: 'Inspire-bold',sans-serif;
 }

 .logox{
  display: block;
  position: fixed;
  top: 0;
  right: 36px;
  background-color: #4e4a59;
  text-align: center;
  font-size: 18px;
  font-family: 'Inspire-bold',sans-serif;
  z-index: 99;
 }

 .logox:hover{
  background-color: rgb(53, 49, 63);
 }

 .logo-x{
  width: 200px;
  height: 50px;
  padding-bottom: 10px;
 }

 .logoh1:hover{
  opacity: 0.5;
 }

 
  h3{
    display:block;
    color: #f9f9f9;
    font-size: 28px;
    margin-top: 16px;
    text-align: center;
    width: 740px;
    height: 34px;
    line-height: 1.4;
    font-family: 'Inspire-bold';
  }

  svg{
    margin-bottom: 12px;
    margin-right: 145px;
    width: 180px;
    height: 54.3px;
    line-height: 2.5;

  }


  @media (width <= 1024px) { 
    img{
      width: 1024px;
    }

    .container-info1{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 22.2%;
      left: 24.9%;
      width: 527px;
      height: 283px;
      
    }
  }

  @media (width <= 768px) { 
    img{
      width: 810px;
    }

    .container-info1{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 21.2%;
      left: 18.6%;
      width: 527px;
      height: 283px;
      
    }
  }

  @media (width <= 375px) { 
    img{
      width: 810px;
    }

    .container-info1{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 23.2%;
      left: 37%;
      width: 527px;
      height: 283px;
    }

    
    
  }