@font-face {
  font-family: "Inspire";
  src: url(./fonts/pfsquaresanspro-medium-webfont.ttf);
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: "Inspire-Regular";
  src: url(./fonts/Inspire-Regular.f2199f841165c4ddbafcf177da3ef974.woff2);
}

@font-face {
  font-family: "Inspire-bold";
  src: url(./fonts/Inspire-Bold.4ff15ddc93445342649194969715b0b5.woff2);
  font-style: bold;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #090b13;
  font-family: "Inspire", sans-serif;
  max-width: 100%;
  height: 100%;
  min-width: 320px;
 
}

h1 {
  color: #f9f9f9;
  font-family: "Inspire-bold", sans-serif;
  font-size: 34px;
  line-height: 1.4;
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: rgba(16, 16, 19, 0.3);
  padding: 0 218px 0 36px;
  transition: all 3s ease-in-out;
}

a {
  text-decoration: none;
}

.hero-image {
  background-image: url("images/originalhome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: inherit;
  width: 100%;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  object-fit: cover;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 17%;
  width: 100%;
  height: 560px;
}

.arrow-under {
  color: #f9f9f9;
  width: 200px;
  background-color: #c90b0b;
  margin-top: 20px;
}
.elige-plan {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  height: 560px;
}

.h1-elige {
  text-align: center;
  margin-top: 50px;
  font-family: "Inspire-bold", sans-serif;
  font-size: 44px;
  margin-top: 0;
}
.content-plan {
  display: flex;
  justify-content: center;
  width: 100%;
  column-gap: 4%;
}

.plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20%;
}

h3 {
  display: inline-block;
}

.plan img {
  display: inline-block;
  width: 220px;
  height: 44px;
}

.plan2 {
  margin: 24px 0 0 0;
  font-family: "Inspire-bold", sans-serif;
  font-size: 24px;
}

.distancia {
  margin-top: 114px;
}

.promo {
  font-family: "Inspire-Regular", sans-serif;
  font-size: 16px;
  color: #f9f9f9;
}

.btn-suscrit1 {
  width: 300px;
  height: 50px;
  background-color: #c90b0b;
  padding: 16.5px 24px;
  color: #f9f9f9;
  font-family: "Inspire-bold", sans-serif;
  border-radius: 4px;
  margin: 25px 0;
}

.suscrit2 {
  background-color: #6421ff;
  height: 50px;
  margin-top: 55px;
}

.price {
  color: #f9f9f9;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  font-family: "Inspire-Regular", sans-serif;
}

.content-ver {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  margin: 0 auto;  
  height: auto;
  padding-top: 30px;
  margin-bottom: 30px;
}

.title-ver {
  color: #f9f9f9;
  font-family: "Inspire-bold", sans-serif;
  font-size: 36px;
  text-align: start;
  line-height: 38px;
  margin-top: 60px;
}

.descript-ver {
  color: #cacaca;
  font-family: "Inspire-bold", sans-serif;
  font-size: 14px;
  text-align: start;
  margin: 20px 0 0;
  line-height: 1.4;
}

.logo1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
}

.logo {
  width: 150px;
  height: 25px;
  cursor: pointer;
}

.logo-y {
  display: inline-block;
  height: 210px;
  height: 50px;
  color: #f9f9f9;
  background-color: #c90b0b;
  padding: 14px 14px;
  margin-top: 10px;
  border-radius: 5px;
}

.logox {
  display: block;
  position: fixed;
  top: 0;
  right: 56px;
  background-color: #625f5f;
}

.logo-x {
  width: 200px;
  height: 90px;
  padding-bottom: 10px;
}

.logoh1:hover {
  opacity: 0.5;
}

.contrata-home {
  display: block;
  width: 700px;
  height: 68px;
  color: #f9f9f9;
  font-weight: bold;
  background-color: #6421ff;
  border-radius: 4px;
  text-align: center;
  margin: 20px 0 0;
  padding: 20.5px 33px;
  font-size: 18px;
}

.contrata-home:hover {
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}

.suscrip {
  display: block;
  width: 700px;
  height: 68px;
  color: #f9f9f9;
  font-weight: 400;
  text-align: center;
  margin: 40px 0 0;
  font-size: 14px;
  text-decoration: underline;
}

h3 {
  display: block;
  color: #f9f9f9;
  font-size: 24px;
  margin-top: 0;
  width: 740px;
  height: 33.5px;
}

svg {
  margin-bottom: 0;
  width: 180px;
  height: 54.53px;
}

.color_arrow {
  fill: #f9f9f9;
}
.arrow-under {
  animation: arrow_animation 1.75s infinite;
  background-color: transparent;
  border: none;
  bottom: 2vw;
  cursor: pointer;
  font-size: 0;
  height: 68px;
  margin: 0 auto;
  opacity: 0.65;
  padding: 6px 33px 12px 0;
  position: absolute;
  width: 68px;
}

@keyframes arrow_animation {
  0%,
  20%,
  50%,
  80%,
  to {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-7px);
  }

  60% {
    transform: translateY(-3.5px);
  }
}

.popular__card {
  background-image: url("images/bgpromo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: inherit;
  width: 100%;
}

.promo {
  text-align: center;
  width: 290px;
}

.sports {
  display: flex;
  justify-content: space-around;
  width: 90%;  
  margin: 0 auto;  
  height: 922px;
  padding: 107.5px;

}

.mas-spn {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  gap: 30px;
  padding: 0 24px 0 0;
  flex-grow: 1;
}

.img-sport {
  display: flex;
  width: 55%;
  padding: 10px;
  flex-grow: 1;
}
.title-spn {
  font-family: "Inspire-bold", sans-serif;
  font-size: 40px;
  color: #f9f9f9;
  line-height: 1.4;
}

.info-spn {
  font-family: "Inspire-Regular", sans-serif;
  font-size: 16px;
  color: #cacaca;
  line-height: 1.4;
}

.txt-spn {
  font-family: "Inspire-Regular", sans-serif;
  font-size: 12px;
  color: #cacaca;
  line-height: 1.4;
}

@media (max-width: 1400px) {
  .plan {
    width: 23%;
  }

  .popular__card {
    background-image: url("images/bgpromo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: inherit;
    width: 100%;
  }

  .btn-suscrit1 {
    width: 80%;
    height: 55px;
    padding: 16.5px 24px;
  }

  .sports {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    height: 622px;
    padding: 27.5px;
  }
  .mas-spn {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    gap: 30px;
    padding: 0 24px 0 0;

  }



  
  
}

.main__logo {
  width: 80px;
  height: 50px;
}

/* Aqui se configura el frame con una clase */
iframe {
  border: none;
  display: block;
  width: 100%;
  /* height: 2300px; */
  margin: 0 auto; /* Esto centra el iframe horizontalmente */
  
}
.content-iframe {
  
  border: none;
  position: relative;
  width: 100%;
  max-width: 100%;
  

}

@media (min-width: 1401px){
body{
  width: 100%;
}
}